@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/sl_122221_47450_06.jpg');
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    margin-top: 20px;
}

    .user-info h2 {
        margin-bottom: 20px;
        color: #333;
    }

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

.list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    padding: 10px 15px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}
