@model CardViewModel

<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/RegisterCard.css" rel="stylesheet" />

<div style="padding-right: 700px; padding-left: 700px;">
    <div class="register-card-container">
        <h2 class="form-header">Register Card:</h2>
        <hr>

        <div class="checkout-page">
            <form asp-action="Register" method="post" id="payment-form" class="form">
                <!-- Card Holder -->
                <div class="field">
                    <label for="cardholder-name" class="field-label">Card Holder</label>
                    <input asp-for="CardHolder" type="text" id="cardholder-name" class="input-field" placeholder="Gosho" />
                    <span asp-validation-for="CardHolder" class="validation-message"></span>
                </div>

                <!-- Card Number -->
                <div class="field">
                    <label for="card-number" class="field-label">Card Number</label>
                    <input asp-for="CardNumber" type="text" id="card-number" class="input-field" placeholder="1234 1234 1234 1234" />
                    <span asp-validation-for="CardNumber" class="validation-message"></span>
                </div>

                <!-- Expiration Date -->
                <div class="field">
                    <label for="expiration-date" class="field-label">Expiration Date</label>
                    <input asp-for="ExpirationDate" type="text" id="expiration-date" class="input-field" placeholder="05/27" required>
                    <span asp-validation-for="ExpirationDate" class="validation-message"></span>
                </div>

                <!-- CVV -->
                <div class="field">
                    <label for="cvv" class="field-label">CVV</label>
                    <input asp-for="CheckNumber" type="text" id="cvv" class="input-field" placeholder="123" required>
                    <span asp-validation-for="CheckNumber" class="validation-message"></span>
                </div>

                <!-- Card Type -->
                <div class="field">
                    <label for="cardType" class="field-label">Card Type</label>
                    <select id="cardType" name="CardType" class="input-field">
                        @foreach (var cardType in Enum.GetValues(typeof(Virtual_Wallet.Models.Entities.CardType)))
                        {
                            <option value="@cardType">
                                @cardType
                            </option>
                        }
                    </select>
                    <span asp-validation-for="CardType" class="validation-message"></span>
                </div>

                <!-- Submit Button -->
                <button type="submit" id="pay_button" class="submit-button">Register Card</button>
                <br>
            </form>
        </div>
    </div>
</div>

<script src="~/js/index.js"></script>

