<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/SavingWallet.css?v=2.0" rel="stylesheet" />

<br>
<br>
<br>
<br>
<br>

<div style="padding-bottom:400px; padding-top:200px;">
    <div class="form-container">
        <div class="form-title">
            <h2>You successfuly registrated your card!</h2>
            <hr>
        </div>
    </div>
    <br>
</div>
