@model AssignRoleViewModel

@{
    ViewData["Title"] = "Assign Role";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success">@ViewData["Message"]</div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />

<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/custom-style.css?v=3.0" rel="stylesheet" />


<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="container">
    <form asp-action="AssignRole" method="post">
        <div class="form-title">
            <h2 style="font-size: 30px;">@ViewData["Title"]</h2>
            <hr>
        </div>

        <div class="form-inputs">
            <div class="form-group">
                <div class="input-box">
                    <label asp-for="Username" style="font-size: 30px; color:black;" class="control-label"></label>
                    <input asp-for="Username" style="color:black;" class="input-field" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-box">
                    <label asp-for="Role" style="font-size: 30px; class="control-label"></label>
                    <input asp-for="Role" class="input-field" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    <label asp-for="PhoneNumber" style="font-size: 30px; class="control-label"></label>
                    <input asp-for="PhoneNumber" class="input-field" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="btn-box">
                <button type="submit" style="font-size: 20px;" class="input-submit">Assign Role</button>
            </div>
            <a asp-controller="Posts" asp-action="Index" style="font-size: 20px" class="nav">Back</a>
        </div>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
