<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/UserDetails.css" rel="stylesheet">

<br>
<br>
<br>
<br>
<br>
<br>

<div class="user-container-wrapper">
    <div class="user-container">
        <div class="user-image">
            <h1>Email Confirmation Success</h1>
            <p>Your email has been successfully confirmed. You can now log in.</p>
        </div>
    </div>
</div>