@{
    ViewData["Title"] = "Email Confirmation Sent";
}

<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/UserDetails.css" rel="stylesheet">

<br>
<br>
<br>
<br>
<br>
<br>

<div class="user-container-wrapper">
    <div class="user-container">
        <div class="user-image">
            <h1>Email Confirmation Sent</h1>
            <p>@TempData["Message"]</p>
        </div>
    </div>
</div>
