
<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/UserDetails.css" rel="stylesheet">

<br>
<br>
<br>
<br>
<br>
<br>

<div class="user-container-wrapper">
    <div class="user-container">
        <div class="user-image">
            <h1>Registration successful.</h1>
            <p> A confirmation link has been sent to your e-mail. Please check your inbox to verify your account.</p>
        </div>
    </div>
</div>

