
<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/UserDetails.css" rel="stylesheet">

<br>
<br>
<br>
<br>
<br>
<br>

<div class="user-container-wrapper">
    <div class="user-container">
        <div class="user-image">
            <h1>Login Failed.</h1>
            <p>
                You have NOT confirmed your e-mail address. Please check your e-mail
                inbox and confirm your e-mail by clicking on the link in the message sent by us.
            </p>
        </div>
    </div>
</div>
