@model Virtual_Wallet.DTOs.UserDTOs.CombinedUserDTO

@{
    Layout = null;
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/login.css?v=3.0">

    <style>
        input[type="file"]::file-selector-button {
            background-color: #49754d;
            color: white;
            font-size: 10px;
            padding: 5px 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div class="form-container">
        <div class="col col-1">
            <div class="image-layer">
                <img src="~/images/clip-man-putting-a-euro-coin-into-a-piggy-box.png" class="form-image-main">
            </div>
        </div>
        <div class="col col-2">
            <div class="btn-box">
                <button class="btn btn-1" id="login">Sign In</button>
                <button class="btn btn-2" id="register">Sign Up</button>
            </div>

            <!-- Login Form Container-->
            <form asp-action="Login" method="post">
                <div class="login-form">
                    <div class="form-title">
                        <span>Sign In</span>
                    </div>
                    <div class="form-inputs">
                        <div class="input-box">
                            <input asp-for="Login.Username" type="text" style="height: 60px;"  class="input-field" placeholder="Username" required>
                            <span asp-validation-for="Login.Username" style="height: 60px;" class="text-danger"></span>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input asp-for="Login.Password" type="password" class="input-field" placeholder="Password" required>
                            <span asp-validation-for="Login.Password" class="text-danger"></span>
                            <i class="bx bx-lock-alt icon"></i>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="input-submit">
                                <span style="font-size: 15px; font-weight:500;">Sign In</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Register Form Container-->
            <form asp-action="Register" method="post" enctype="multipart/form-data">
                <div class="register-form">
                    <div class="form-title">
                        <span>Create account</span>
                    </div>

                    <div class="form-inputs">

                        <div class="input-box">
                            <input asp-for="Register.Username" type="text" style="height: 60px;" class="input-field" placeholder="Username" required>
                            <span asp-validation-for="Register.Username" class="text-danger"></span>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input asp-for="Register.Email" type="text" style="height: 60px;" class="input-field" placeholder="Email" required>
                            <span asp-validation-for="Register.Email" class="text-danger"></span>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input asp-for="Register.PhoneNumber" type="text" style="height: 60px;" class="input-field" placeholder="PhoneNumber" required>
                            <span asp-validation-for="Register.PhoneNumber" class="text-danger"></span>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <input asp-for="Register.Password" type="password" style="height: 60px;" class="input-field" placeholder="Password" required>
                            <span asp-validation-for="Register.Password" class="text-danger"></span>
                            <i class="bx bx-lock-alt icon"></i>
                        </div>
                        <div class="input-box">
                            <label asp-for="Register.Image" style="color:white;">Upload image:</label>
                            <input asp-for="Register.Image" type="file" placeholder="Image">
                            <span asp-validation-for="Register.Image" class="text-danger"></span>
                        </div>

                        <!-- Input for wallet's name-->
                        <div class="input-box">
                            <input asp-for="Wallet.WalletName" type="text" style="height: 50px;" class="input-field" placeholder="Your wallet's name" required>
                            <span asp-validation-for="Wallet.WalletName" class="text-danger"></span>
                            <i class="bx bx-user icon"></i>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="input-submit">
                                <span style="font-size: 15px; font-weight:500;">Sign Up</span>
                                <i class="bx bx-right-arrow-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/login.js?v=2.0"></script>
</body>