@model List<UserViewModel>


<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />

<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link href="~/css/ListSavingWallets.css" rel="stylesheet" />

<br>
<br>
<br>
<br>

@{
    foreach (var user in Model)
    {
        <div class="container" style="margin-left:350px;  margin-bottom: 300px;">
            <div class="user-container">
                <div class="user-info">
                    <div class="form-title">
                        <h1>User Details:</h1>
                        <hr>
                    </div>

                    <div class="form-inputs">
                        <!-- Start Date -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>Username:</strong>
                                <span>@user.Username</span>
                            </p>
                        </div>

                        <!-- End Date -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>Email:</strong>
                                <span>@user.Email</span>
                            </p>
                        </div>

                        <!-- Amount -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>PhoneNumber:</strong>
                                <span>@user.PhoneNumber</span>
                            </p>
                        </div>

                        <!-- Interest Rate -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>Role:</strong>
                                <span>@user.Role</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    }
}