@model VerifyUserViewModel


<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />

<link href="~/css/style.css?v=2.0" rel="stylesheet" />

<br>
<br>
<br>

<h2>
    Complete your account verification and start using NIMBLE.<br>
    To verify you should send two pictures.<br>
    1. Selfie of yourself.<br>
    2. Photo of your Id.<br>
    We will review the sended pictures and send you email when verified.<br>
</h2>

<form asp-action="UploadPhotosVerification" method="post" enctype="multipart/form-data">
    <div class="input-box">
        <label asp-for="Selfie" style="color:white;">Upload selfie:</label>
        <input asp-for="Selfie" type="file" placeholder="Image">
        <span asp-validation-for="Selfie" class="text-danger"></span>
    </div>
    <div class="input-box">
        <label asp-for="IdPhoto" style="color:white;">Upload Id Photo:</label>
        <input asp-for="IdPhoto" type="file" placeholder="Image">
        <span asp-validation-for="IdPhoto" class="text-danger"></span>
    </div>
    <div class="input-box">
        <button type="submit" class="input-submit">
            <span style="font-size: 15px; font-weight:500;">Sign Up</span>
            <i class="bx bx-right-arrow-alt"></i>
        </button>
    </div>
</form>