@model List<SavingWallet>

<link href="~/css/ListSavingWallets.css" rel="stylesheet" />
<br>
<br>
<br>
<h1 style="text-align:center;">Your saving wallets</h1>
<br>

@{

    foreach (var wallet in Model)
    {
        <div class="container">
            <div class="user-container">
                <div class="user-info">
                    <div class="form-title">
                        <h1>Saving Wallet details:</h1>
                        <hr>
                    </div>

                    <div class="form-inputs">
                        <!-- Start Date -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>Start Date:</strong>
                                <span>@wallet.StartDate</span>
                            </p>
                        </div>

                        <!-- End Date -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>End Date:</strong>
                                <span>@wallet.EndDate</span>
                            </p>
                        </div>

                        <!-- Amount -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>Amount:</strong>
                                <span>@wallet.Amount</span>
                            </p>
                        </div>

                        <!-- Interest Rate -->
                        <div class="input-box">
                            <p class="control-label">
                                <strong>Interest:</strong>
                                <span>@wallet.InterestRate</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    }
}