@{
    var isAuthenticated = User.Identity.Name;
}

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

<!--owl slider stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

<!-- font awesome style -->
<link href="css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="css/responsive.css" rel="stylesheet" />

<body>
    <header>
        <div>
            <div class="button-container">
                <h3>
                    <button style="font-size: 17px; border: 1px solid #6d6d6d; " class="button">
                        <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                    </button>
                    <button class="button">
                        <a asp-controller="Home" asp-action="About" class="nav">About</a>
                    </button>
                    @{
                        if (isAuthenticated != null)
                        {
                            <button class="button">
                                <a href="/swagger" class="nav">Developer API</a>
                            </button>
                            <button class="button">
                                <a asp-controller="User" asp-action="UserDetails" asp-route-username="@User.Identity.Name" class="nav">Details</a>
                            </button>
                            <button style="font-size: 17px; background: #fd8080; border: 1px solid #6d6d6d; " class="button">
                                <a asp-controller="User" asp-action="Logout" class="nav">Logout</a>
                            </button>
                            <button class="button">
                                <a asp-controller="Card" asp-action="Register" class="nav">RegisterCard</a>
                            </button>
                            <button class="button">
                                 @*<a asp-controller="api/transfer" asp-action="transferFunds" class="nav">Add/Withdraw</a>*@
                                <a asp-page="/Transfer" class="nav">Transfer Funds</a>
                            </button>

                            if (User.IsInRole("Admin"))
                            {
                                <button class="button">
                                    <a asp-controller="User" asp-action="AssignRole" class="nav">Assign Roles</a>
                                </button>

                                <button class="button">
                                    <a asp-controller="User" asp-action="ListUsers" class="nav">All Users</a>
                                </button>
                            }
                        }
                        else
                        {
                            <button style="font-size: 17px; border: 1px solid #6d6d6d; " class="button">
                                <a asp-controller="User" asp-action="Index" class="nav">Login</a>
                            </button>
                        }
                    }
                </h3>
            </div>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <footer>
        <small>©️ Copyright @DateTime.Now.Year, Card</small>
    </footer>
</body>
</html>