
<link href="css/responsive.css?v=1.0" rel="stylesheet" />

<link href="css/style.css?v=4.0" rel="stylesheet" />

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var walletName = ViewBag.WalletName;
    var walletBalance = ViewBag.WalletBalance;
}

<div class="hero_area">

    <div class="hero_bg_box">
        <div class="bg_img_box">
            <img style="filter: blur(3px);" src="~/images/StockCake-Joyful Online Shopping_17239097201.jpg" alt="">
        </div>
    </div>

    <h4 class="custom-paragraph" style="font-size: 40px;">
        SEND and RECIVE anywhere <br><strong style="font-size: 100px;">NIMBLE</strong> wallet!
    </h4>

</div>


<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Our <span>Services</span>
                </h2>
                <p style="font-size: 20px;">
                    At Nimble, we provide a cutting-edge virtual wallet designed to make your financial transactions effortless, secure, and accessible from anywhere.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/glare-cloud-money1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Digital Wallet
                            </h5>
                            <br>
                            <p style="font-size:18px">
                                Nimble offers a convenient digital wallet that puts you in control of your finances. <br><br>Transfer money from your card directly into your Nimble account, providing you with a safe place to store and manage your funds.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/3d-techny-metal-safe-and-money-around.gif" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Secure Storage
                            </h5>
                            <br>
                            <p style="font-size:18px">
                                Your money is securely stored within your Nimble wallet, protected by multiple layers of security protocols. <br><br>Whether you’re holding funds for daily use, you can trust that your money is in safe hands.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/file (2).png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Transaction history
                            </h5>
                            <br>
                            <p style="font-size:18px">
                                Every transaction you make with your Nimble wallet is automatically recorded and organized.<br> <br>Whether you’re sending money, adding funds, you can easily review your complete transaction history at any time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->
<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                About <span>Us</span>
            </h2>
            <p style="font-size:20px">
                Welcome to Nimble, your trusted virtual wallet.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="images/florid-web-wallet-and-online-banking.gif" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        We Are NIMBLE
                    </h3>
                    <p style="font-size:18px">
                        Founded in 2024 by three entrepreneurs in Bulgaria, Nimble was created to simplify your financial management in a digital world.
                    </p>
                    <p style="font-size:18px">
                        We prioritize security, convenience, and innovation, making Nimble more than just a transaction tool—it's your seamless financial companion. Whether you're sending money, shopping online, or managing savings, Nimble makes your financial journey smoother.
                    </p>
                    <p style="font-size:18px">
                        As a proud Bulgarian company, we're dedicated to supporting our local tech community and exceeding our users' expectations. Thank you for choosing Nimble as your financial partner.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Choose <span>Us</span>
            </h2>
        </div>
        <div class="why_container">
            <div class="box">
                <div class="img-box">
                    <img src="images/undraw_Investing_re_bov7.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Multiple Currencies
                    </h5>
                    <p style="font-size:18px;">
                        With Nimble, you can transfer money or create a new wallet in the currency you need. <br>We offer free currency conversion at the current exchange rate, making it easy to manage your money globally.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/free.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Free to use
                    </h5>
                    <p style="font-size:18px;">
                        Experience seamless and secure money transfers with friends at zero cost, all within an instant. <br> Our virtual wallet makes sending money effortless, safe, and fast—because your time matter to us. <br>Join us for a hassle-free financial experience that puts you in control.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/undraw_Transfer_money_re_6o1h.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Transfer Money Faster
                    </h5>
                    <p style="font-size:18px;">
                        Send or receive money in seconds with our lightning-fast system. <br> Whether you're paying a friend or receiving funds, our platform ensures quick and seamless transactions every time.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="images/undraw_reviews_lp8w.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Happy Customers
                    </h5>
                    <p style="font-size:18px;">
                        Our customers love what we do!<br> We've received high ratings and positive feedback for our products and services, reflecting the satisfaction and trust of our growing community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why section -->
<!-- team section -->
<section class="team_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2 class="">
                Our <span> Team</span>
            </h2>
        </div>

        <div class="team_container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/IMG_43863copy.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Samuil Milchev
                            </h5>
                            <p style="font-size: 18px;">
                                Software engineer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/1682669239537019.jpeg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Violin Filev
                            </h5>
                            <p style="font-size: 18px;">
                                Software engineer
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="box ">
                        <div class="img-box">
                            <img src="images/413011312_749772943715710_1823602453126861406_n.jpg" class="img1" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Alexander Georgiev
                            </h5>
                            <p style="font-size: 18px;">
                                Software engineer
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->
<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                What says our <span>Customers</span>
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/Petapixel-Article-Images-7-800x600.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Sarah Mitchell
                                    </h6>
                                </div>
                            </div>
                            <p style="font-size:15px;">
                                Nimble has made managing my finances so much easier. Instant, secure transfers and multi-currency options make it a must-have!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/Petapixel-Article-Images-5-800x600.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Carlos Ramirez
                                    </h6>
                                </div>
                            </div>
                            <p style="font-size:15px;">
                                Nimble’s free currency conversion and fast transfers are perfect for sending money abroad. It’s my go-to app!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/Sylvia-melbourne-headshot-photogaphy-julia-nance-corporate-linkedin-2-600x600.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        Emma Lee
                                    </h6>
                                </div>
                            </div>
                            <p style="font-size:15px;">
                                I love how fast and reliable Nimble is. It’s super easy to use, and I trust it for all my transactions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/image-asset.jpg" alt="" class="box-img">
                        </div>
                        <div class="detail-box">
                            <div class="client_id">
                                <div class="client_info">
                                    <h6>
                                        David Nguyen
                                    </h6>
                                </div>
                            </div>
                            <p style="font-size:15px;">
                                Nimble is the best wallet I’ve used. Quick transfers, easy currency management, and great customer support!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
<!-- info section -->

<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_contact">
                    <h4>
                        Address:
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <span>
                                Sofia
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_detail">
                    <h4>
                        Info:
                    </h4>
                    <p>
                        We will answer your questions. Write an email at: <strong>email@gmail.com</strong>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
                <div class="info_link_box">
                    <h4>
                        Links
                    </h4>
                    <div class="info_links">
                        <a class="active" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                        <a class="" asp-controller="Home" asp-action="About">
                            About
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end info section -->
<!-- footer section -->
<section class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span> 
            <a href="https://html.design/"></a>
        </p>
    </div>
</section>
<!-- footer section -->
<!-- jQery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script type="text/javascript" src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->
