@model SavingWalletViewModel

<link href="~/css/responsive.css?v=1.0" rel="stylesheet" />
<link href="~/css/style.css?v=2.0" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/css/SavingWallet.css?v=2.0" rel="stylesheet" />

<br><br><br><br><br><br><br><br>

<div class="form-container">
    <form asp-action="CreateSavingWallet" method="post" enctype="multipart/form-data">
        <div class="form-title">
            <h2>Create Saving Wallet</h2>
            <hr>
        </div>

        <!-- Dropdown for selecting currency -->
        <div class="form-group">
            <label asp-for="Currency" class="form-label">Select Currency</label>
            <select asp-for="Currency" class="form-control">
                @foreach (var wallet in Model.CurrentUser.UserWallets)
                {
                    <option value="@wallet.Currency">@wallet.Currency</option>
                }
            </select>
            <span asp-validation-for="Currency" class="validation-message"></span>
        </div>

        <!-- Input for End Date -->
        <div class="form-group">
            <label asp-for="EndDate" class="form-label">End Date</label>
            <input asp-for="EndDate" class="input-field" />
            <span asp-validation-for="EndDate" class="validation-message"></span>
        </div>

        <!-- Input for Amount -->
        <div class="form-group">
            <label asp-for="Amount" class="form-label">Amount</label>
            <input asp-for="Amount" class="input-field" />
            <span asp-validation-for="Amount" class="validation-message"></span>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn-submit">Create</button>
    </form>
    <br>
    <br>
    <br>
    <br>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<script>
    $(function () {
        $("#StartDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#EndDate").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>

