<link href="~/css/ListSavingWallets.css" rel="stylesheet" />

<br>
<br>
<br>
<br>
<br>

<div class="container" style="margin-bottom:450px; margin-top:200px;">
    <div class="user-container">
        <div class="user-info">
            <div class="form-title">
                <h1>Transaction Success</h1>
                <hr>
            </div>
        </div>
    </div>
    <br><br>
</div>